<!-- app/views/questions/ask.html.erb -->
<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<!-- action specifies the URL that will be used when submitting the form -->
<form action="/answer">
  <!-- name enables you to name each parameter corresponding to each input of the form -->
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
