// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-size: 40px;
  color: #C83739;
  font-family: 'Baskervville', serif;
}

p {
  font-size: 20px;
  color: #572245;
  font-family: 'Gayathri', sans-serif;
}

input {
  font-size: 20px;
  color: #572245;
  font-family: 'Gayathri', sans-serif;
}

form {

}
